.nav-button {
  
  display: inline-block;
  color: white;
  margin: 5px 10px 4px 10px;
  padding: 5px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}

.nav-button:hover {
  border-bottom:1px solid #ffffff;
  cursor: pointer;
}