.menu-item h3 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.menu-item ul {
  margin: 5px 0 15px 0;
  padding: 0;
  list-style-type: none;
}

.menu-item li:first-child::before {
  content: "";
}

.menu-item li::before {
  content: "~";
  margin-right: 10px;
  font-size: 15px;
}

.menu-item li {
  font-size: 1.2em;
  list-style: none;
  display: inline-block;
  padding: 0px 10px 0px 0px;
}

.delete-button {
  display: inline-block;
  cursor: pointer;
}

.menu-item ul {
  display: inline-block;
}

.menu-item button {
  border: none;
  border-radius: 5px;
  background: none;
  color: #38cfe7;
  font-size: 1em;
}

.delete-button:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  color: black;
}
